.hero-section{
    padding-block: 3rem ;
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 345px;
    & .hero-content{
        padding-right: 4.5rem;
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    & .btn{
        width: fit-content;
    }
    & h1{
        font-size: 2.5rem;
        font-weight: 500;
    }
}
.hero-img{
    display: flex;
    justify-content: center;
    max-height: 300px;
}
.hero-img img{
    max-height: 100%;
}